<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDhOJKUZIC-5xvOsY0Q3H-rjCxgcsDdZG4</string>
	<key>GCM_SENDER_ID</key>
	<string>469272843368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bloodDonation</string>
	<key>PROJECT_ID</key>
	<string>blood-donation-11584</string>
	<key>STORAGE_BUCKET</key>
	<string>blood-donation-11584.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:469272843368:ios:61f9b8c989b3ab854917dd</string>
</dict>
</plist>